<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Burger Tracker</title>
  <link rel="stylesheet" type="text/css" href="/public/assets/burger_style.css">
</head>
<body>
  {{{ body }}}
</body>
</html>