<h1>Burgers</h1>

<h2>Burgers to devour</h2>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <li>
        {{this.burger_name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <div class="form-group">
            <label for="ca">Eater's Name:</label>
            <input type="text" id="ca" name="name">
          </div>
          <button type="submit">Devour</button>
        </form>

      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers devoured</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      <li>
        {{this.burger_name}}
        Eaten by: {{this.name}}
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add Burger</form>