<!-- Header -->
<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">

    <span class="mdl-layout-title">EasyEats</span>

    <!-- Displayed on Computer and Tablet -->
    <!-- Search -->
    <div class="mdh-expandable-search mdl-cell--hide-phone">
      <i class="material-icons">search</i>
      <form action="#">
        <input type="text" placeholder="Author Name" value ="authorName" size="1">
      </form>
    </div>
    <div class="mdh-expandable-search mdl-cell--hide-phone">
      <i class="material-icons">search</i>
      <form action="#">
        <input type="text" placeholder="Ingredient" value ="ingredient" size="1">
      </form>
    </div>
    <div class="mdh-expandable-search mdl-cell--hide-phone">
      <i class="material-icons">search</i>
      <form action="#">
        <input type="text" placeholder="Recipe Name" value="recipeName" size="1">
      </form>
    </div>

    <!-- Displayed on mobile -->
    <div class="mdl-layout-spacer mdl-cell--hide-tablet mdl-cell--hide-desktop"></div>
    <!-- Search button -->
    <button class="mdh-toggle-search mdl-button mdl-js-button mdl-button--icon mdl-cell--hide-tablet mdl-cell--hide-desktop">
      <i class="material-icons">search</i>
    </button>

  </div>
</header>

<main class="mdl-layout__content">
    <div class="mdl-grid portfolio-max-width">
      <div class="mdl-cell mdl-cell--12-col">
          <h1>I'm sorry. We coudn't find any more results for your search. Please try searching again.</h1>
      </div>
    </div>
    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">Recipe generator website</div>
        </div>
        <div class="mdl-mini-footer__right-section">
            <ul class="mdl-mini-footer__link-list">
                <li><a href="#">Help</a></li>
                <li><a href="#">Privacy & Terms</a></li>
            </ul>
        </div>
    </footer>
</main>

<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>