.login.mdl-card {
  width: 600px;
  height: 350px;
  margin: 0 auto;
}

.signup.mdl-card {
  width: 600px;
  height: 400px;
  margin: 0 auto;
}

dialog#dialog1 {
  width: 600px;
  height: 400px;
  margin: 0 auto;
}

dialog#dialog2 {
  width: 600px;
  height: 450px;
  margin: 0 auto;
}

